<!-- container div for the central logo and the links to the most viewed language editions -->
<div class="central-featured" data-el-section="primary links">

    <!-- logo -->
    <div class="central-featured-logo-wrapper">
        <img class="central-featured-logo" src="portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png" srcset="portal/wikipedia.org/assets/img/Wikipedia-logo-v2@1.5x.png 1.5x, portal/wikipedia.org/assets/img/Wikipedia-logo-v2@2x.png 2x" width="200" alt="Wikipedia Logo">
    </div>

    <!-- Rankings from http://stats.wikimedia.org/EN/Sitemap.htm -->
    <!-- Article counts from http://meta.wikimedia.org/wiki/List_of_Wikipedias/Table -->
    {{#each top10views}}

        <!-- #{{index}}. {{url}} - {{formatNumber views thousandSeparator=true thousandFloor=true}} views/day -->
        <div class="central-featured-lang lang{{index}}" lang="{{lang}}">
        <a href="//{{url}}/"
           title="{{#if latin}}{{latin}}{{else}}{{name}}{{/if}} — {{siteName}} — {{slogan}}"
           class="link-box"{{printAttrs 'linkBoxAttrs'}}>
            <strong>{{name}}</strong><br>
            <em{{printAttrs 'sloganAttrs'}}>{{slogan}}</em><br>
            {{#if articlesAttrs}}
                <small>{{formatNumber numPages thousandSeparator=true thousandFloor=true nbsp=true}}+ <span{{printAttrs 'articlesAttrs'}}>{{articles}}</span></small>
            {{else}}
                <small>{{formatNumber numPages thousandSeparator=true thousandFloor=true nbsp=true}}+ {{articles}}</small>
            {{/if}}
            </a>
        </div>
    {{/each}}

</div>
