<div class="central-textlogo">
    <img class="central-featured-logo" src="{{l10n.assets.logo.src}}" srcset="{{l10n.assets.logo.srcset}}" width="{{l10n.assets.logo.width}}" height="{{l10n.assets.logo.height}}" alt="{{l10n.portal.name}}">
    <h1 class="central-textlogo-wrapper">
        <span class="central-textlogo__image sprite svg-{{l10n.portal.name}}_wordmark">
            {{l10n.portal.name}}
        </span>
        <strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan" >{{l10n.portal.slogan}}</strong>
    </h1>
</div>
