<p class="site-license">
    <small class="jsl10n" data-jsl10n="license">{{{l10n.license}}}</small>
    <small class="jsl10n" data-jsl10n="terms" ><a href="{{l10n.terms-link}}">{{l10n.terms}}</a></small>
    <small class="jsl10n" data-jsl10n="privacy-policy"><a href="{{l10n.privacy-policy-link}}">{{l10n.privacy-policy}}</a></small>
</p>
