<div class="other-project">
    <a class="other-project-link" href="{{url}}">

        <div class="other-project-icon">
            <div class="sprite svg-{{name}}-logo_sister"></div>
        </div>

        <div class="other-project-text">
            <span class="other-project-title jsl10n" data-jsl10n="{{key}}.name">{{name}}</span>
            <span class="other-project-tagline jsl10n" data-jsl10n="{{key}}.slogan">{{tagline}}</span>
        </div>
    </a>
</div>
