<div class="central-textlogo wikipedia25-videologo">
    <video id="wikipedia25-video" class="wikipedia25-video"
        data-idle-light="{{l10n.assets.videoLogo.idle.light}}"
        data-idle-dark="{{l10n.assets.videoLogo.idle.dark}}"
        data-click-light="{{l10n.assets.videoLogo.click.light}}"
        data-click-dark="{{l10n.assets.videoLogo.click.dark}}"
        data-poster-light="{{l10n.assets.videoLogo.poster.light}}"
        data-poster-dark="{{l10n.assets.videoLogo.poster.dark}}"
        width="200" height="200" autoplay loop muted playsinline>
    </video>
    <button id="wikipedia25-play-button"
        class="cdx-button cdx-button--action-progressive cdx-button--weight-primary cdx-button--size-medium cdx-button--icon-only cdx-button--framed jsl10n wikipedia25-play-button"
        type="button" data-jsl10n="portal.wikipedia25.play-button-text"
        aria-label="{{l10n.wiki.wikipedia25.play-button-text}}">
        <span class="cdx-icon cdx-icon--small"><svg xmlns="http://www.w3.org/2000/svg"
            width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
                <g><path d="M4.55 19A1 1 0 013 18.13V1.87A1 1 0 014.55 1l12.2 8.13a1 1 0 010 1.7z"></path></g>
            </svg></span>
    </button>
    <h1 class="central-textlogo-wrapper">
        <span class="central-textlogo__image sprite svg-{{l10n.portal.name}}_wordmark">
            {{l10n.portal.name}}
        </span>
        <strong class="jsl10n wikipedia25-slogan"
            data-jsl10n="portal.wikipedia25.slogan">{{l10n.portal.wikipedia25.slogan}}</strong>
    </h1>
</div>
